<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
	<servlet>
		<servlet-name>Scheduler</servlet-name>
		<servlet-class>scheduler.Scheduler</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Scheduler</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

</web-app>